# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build
dist/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
apps/api/.env
apps/web/.env.local

# Uploads
uploads/
*.pdf

# Vercel
.vercel

# Turborepo
.turbo

# TypeScript
*.tsbuildinfo
next-env.d.ts
